body {
    background-color: aliceblue;
}

#imageInput {  
    width: 17rem;
     height: 18rem;
}

.card {
    border: none !important;
}

.listing-link {
    text-decoration: none;
}

/* 
.card-img-overlay{ 
    opacity: 0;
} */

.card-img-overlay:hover {
opacity: 0.3;
background-color: white;
}
