body {
    background-color: aliceblue;
}
.listing-img {
  width: 18rem;
  height: 17rem;
  border-radius: 10px;
  object-fit: cover; /* ताकि image crop हो पर खराब न दिखे */
}


.card {
    border: none !important;
}

.listing-link {
    text-decoration: none;
}

/* 
.card-img-overlay{ 
    opacity: 0;
} */

.card-img-overlay:hover {
opacity: 0.3;
background-color: white;
}
